targetScope = 'subscription'

@minLength(1)
@maxLength(64)
param environmentName string

param location string

var tags = {
  'azd-env-name': environmentName
}

resource resourceGroup 'Microsoft.Resources/resourceGroups@2024-11-01' = {
  name: 'rg-${environmentName}'
  location: location
  tags: tags
}

module resources 'resources.bicep' = {
  name: 'resources'
  scope: resourceGroup
  params: {
    environmentName: environmentName
    location: location
  }
}
{{RESOURCE_MODULES}}

output AZURE_CONTAINER_REGISTRY_ENDPOINT string = resources.outputs.containerRegistryEndpoint
output AZURE_CONTAINER_REGISTRY_NAME string = resources.outputs.containerRegistryName
output AZURE_CONTAINER_ENVIRONMENT_NAME string = resources.outputs.containerAppsEnvironmentName
output SERVICE_{{SERVICE_ENV_NAME}}_IDENTITY_ID string = resources.outputs.managedIdentityId
{{RESOURCE_OUTPUTS}}
